<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Error 404</title>
</head>
<body>
    <h1>Ups! El link ingresado no existe...</h1>
    <main class="index">
        <ul>
            <h4>Proba los siguientes...</h4>
            <li><a href="/home">Home</a></li>
            <li><a href="/lovelace">Ada Lovelace</a></li>
            <li><a href="/turing">Alan Turing</a></li>
            <li><a href="/berners-lee">Berners-Lee</a></li>
            <li><a href="/babbage">Charles Babbage</a></li>
            <li><a href="/clarke">Joan Clarke</a></li>
            <li><a href="/hamilton">Margaret Hamilton</a></li>
            <li><a href="/hopper">Grace M. Hopper</a></li>
        </ul>
    </main>
</body>
</html>